* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

header {
  width: 100%;
  padding: 1px 1.2rem;
  background-color: #ffffff;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #000000;
}

section {
  background-color: #E3D3C1;
  text-align: center;
  height: 100vh;
  /* width: 100%; */
}

.text-container {
  padding: 1.2rem;
}

#entry-text {
  font-weight: 600;
  font-size: 16px;
}

#breed-list {
  padding-left: 10px;
  margin-left: 5px;
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-repeat: no-repeat;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#breed-list:focus {
  outline: 3px solid #ddd;
}

.breed-selection-dropdown {
  position: relative;
  display: inline-block;
}

.doggie-list li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.doggie-list li:hover {
  background-color: #ddd;
}

#doggie-images {
  display: flex;
  flex-direction: row;
  list-style: none;
  max-width: 550px;
  margin-bottom: 2px;
  /* max-width: 35rem; */
  padding: 0;
  overflow-x: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

#doggie-images::-webkit-scrollbar { 
  width: 0 !important 
}

.doggie-images-list__item img {
  flex-shrink: 0;
  margin: 2px;
  height: 55px;
  opacity: .6;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.doggie-images-list__item img:hover {
  box-shadow: 0 0 8px black;
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 5%;
  opacity: 1;
}

.doggie-image__large img {
  border: 1px 2px 2px solid #d3ba9f;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  width: 25rem;
}

@media (min-width: 35rem) {
  section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 550px;
  width: 65%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    background-color: #dbc3a8;
  }

  .doggie-image__large img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px 2px 2px solid #d3ba9f;
    width: 540px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 16rem;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #doggie-images {
    justify-content: space-between;
  }
}